 <!--  Hero Start  -->
        <section id="hero" class="hero-04 active">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row justify-content-center hero-item">
                            <div class="col-lg-6">
                                <div class="hero-content">
                                    <h1 class="mb-3">من جان دوئه هستم</h1>
                                    <h4 class="text-capitalize mb-0"><span class="base-color">یک </span> <span
                                            class="element" data-elements="طراح UI.,طراح وب.,توسعه دهنده وب."></span>
                                    </h4>
                                    <p class="max-width-450 mx-0 my-4">در یک زمینه حرفه ای غالباً اتفاق می افتد که
                                        مشتریان خصوصی از انتشار گزارشی جلوگیری می کنند.</p>
                                    <ul class="list-inline hero-social">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero-image">
                                    <img src="~/img/hero-02.png" alt="/">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Hero End  -->