   <!-- Contact Start -->
        <section id="contact" class="contact active">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center title">
                                    <h2 class="text-dark">با من در <span class="base-color">تماس</span> باشید</h2>
                                    <p class="text-muted mb-5 max-width-450">در یک زمینه حرفه ای غالباً اتفاق می افتد که
                                        مشتریان خصوصی از انتشار گزارشی جلوگیری می کنند.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row contact-info">
                            <div class="col-lg-4 mt-5">
                                <div class="text-center">
                                    <div class="base-color">
                                        <i class="lni-phone-handset size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0">با ما تماس بگیرید</h5>
                                        <small class="text-muted">09110001122</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-5">
                                <div class="text-center">
                                    <div class="base-color">
                                        <i class="lni-map-marker size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0 contact_detail-title">آدرس دفتر</h5>
                                        <small class="text-muted">مازندران،ساری،خ خیام</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-5">
                                <div class="text-center">
                                    <div class="base-color">
                                        <i class="lni-pointer size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0">تماس با ما در ایمیل</h5>
                                        <small class="text-muted">sample@gmail.com</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-5 contact-form">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-6 form-item">
                                            <div class="form-group">
                                                <input name="name" id="name" type="text" class="form-control"
                                                    placeholder="نام شما*" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 form-item">
                                            <div class="form-group">
                                                <input name="email" id="email" type="email" class="form-control"
                                                    placeholder="ایمیل شما*" required>
                                            </div>
                                        </div>
                                        <div class="col-12 form-item">
                                            <div class="form-group">
                                                <input name="subject" id="subject" type="text" class="form-control"
                                                    placeholder="موضوع شما*" required>
                                            </div>
                                        </div>
                                        <div class="col-12 form-item">
                                            <div class="form-group">
                                                <textarea name="comments" id="comments" rows="4" class="form-control"
                                                    placeholder="پیام شما..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-4 text-left">
                                            <div class="button-border">
                                                <a href="javascript:void(0)" class="pill-button" id="submit-btn"
                                                    onclick="sendEmail()">ارسال پیام</a>
                                            </div>
                                            <div id="message" class="toast" role="alert" aria-live="assertive"
                                                aria-atomic="true" data-delay="4000">
                                                <div class="toast-body d-inline-block"></div>
                                                <button type="button" class="pl-3 close" data-dismiss="toast"
                                                    aria-label="Close">
                                                    <span aria-hidden="true" class="lni-close size-xs "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row copy-right">
                            <div class="col-12 text-center">
                                <p>حق نشر محفوظ است. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Contact End  -->