   <!--    Resume Start   -->
        <section id="resume" class="resume active">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center title">
                                    <h2 class="text-dark"><span class="base-color">رزومه</span> من </h2>
                                    <p class="text-muted max-width-450 mb-5">در یک زمینه حرفه ای غالباً اتفاق می افتد که
                                        مشتریان خصوصی از انتشار گزارشی جلوگیری می کنند.</p>
                                </div>
                            </div>
                        </div>
                        <!--    TimeLine Start   -->
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="text-dark">
                                    <i class="lni-graduation base-color"></i>
                                    تحصیلات
                                </h3>
                                <div class="timeline-items box-border">
                                    <!--    Item 01   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">کارشناسی ارشد علوم کامپیوتر</h6>
                                                <p class="timeline-year">1386 - 1390</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--    Item 02   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">تحصیلات در دانشگاه نیویورک</h6>
                                                <p class="timeline-year">1390 - 1392</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--    Item 03   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">توسعه دهنده UI/UX </h6>
                                                <p class="timeline-year">1392 - 1393</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-5 mt-lg-0">
                                <h3 class="text-dark">
                                    <i class="lni-pencil base-color"></i>تجربه
                                </h3>
                                <div class="timeline-items box-border">
                                    <!--    Item 01   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">کارشناسی ارشد علوم کامپیوتر</h6>
                                                <p class="timeline-year">1386 - 1390</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--    Item 02   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">تحصیلات در دانشگاه نیویورک</h6>
                                                <p class="timeline-year">1390 - 1392</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--    Item 03   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">توسعه دهنده UI/UX </h6>
                                                <p class="timeline-year">1392 - 1393</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    TimeLine End   -->
                        <!--  Skill Start  -->
                        <div class="row mt-5">
                            <!-- Skill -->
                            <div class="col-lg-6">
                                <div>
                                    <h3 class="mb-0"><span class="base-color"> مهارت</span> کار </h3>
                                </div>
                                <div id="skills" class="skill-box box-border">
                                    <div class="skillbar clearfix" data-percent="95%">
                                        <div class="skillbar-title"><span>اچ تی ام ال</span></div>
                                        <div class="skillbar-bar fill-skillbar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                    <div class="skillbar clearfix " data-percent="85%">
                                        <div class="skillbar-title"><span>سی اس اس</span></div>
                                        <div class="skillbar-bar fill-skillbar"></div>
                                        <div class="skill-bar-percent">85%</div>
                                    </div>
                                    <div class="skillbar clearfix" data-percent="75%">
                                        <div class="skillbar-title"><span>پی اچ پی</span></div>
                                        <div class="skillbar-bar fill-skillbar"></div>
                                        <div class="skill-bar-percent">75%</div>
                                    </div>
                                    <div class="skillbar clearfix" data-percent="80%">
                                        <div class="skillbar-title"><span>جی کوئری</span></div>
                                        <div class="skillbar-bar fill-skillbar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h3 class="mb-0 mt-5 mt-lg-0"><span class="base-color"> مهارت</span> زبان </h3>
                                </div>
                                <div class="language-bar box-border">
                                    <div class="language-skill row">
                                        <h4 class="col-6 text-left mb-0">انگلیسی <span> روان</span></h4>
                                        <ul class="col-6 list-inline text-right mb-0">
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-half-empty"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="language-skill row">
                                        <h4 class="col-6 text-left mb-0">عربی <span> نسبتا</span></h4>
                                        <ul class="col-6 list-inline text-right mb-0">
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-half-empty"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="language-skill row">
                                        <h4 class="col-6 text-left mb-0">هندی <span> پایه</span></h4>
                                        <ul class="col-6 list-inline text-right mb-0">
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="language-skill row">
                                        <h4 class="col-6 text-left mb-0">آلمانی <span> پایه</span></h4>
                                        <ul class="col-6 list-inline text-right mb-0">
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="language-skill row">
                                        <h4 class="col-6 text-left mb-0">ترکیه <span> پایه</span></h4>
                                        <ul class="col-6 list-inline text-right mb-0">
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--   Skill End   -->
                    </div>
                </div>
            </div>
        </section>
        <!--     Resume End    -->